*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#ddd;
    overflow-x:hidden;
}

.background{
    position:fixed;
    inset:0;
    background:url("kings-palace-museum-in-rwanda.jpg") center center/cover no-repeat;
    filter:blur(7px);
    transform:scale(1.08);
    z-index:-2;
}


.container{
    width:80%;
    max-width:1150px;
    margin:8px auto;
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 35px rgba(0,0,0,.25);
}


header{
    height:70px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 25px;
    background:#fff;
}


.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:42px;
    height:42px;
    object-fit:cover;
}

.logo-text h2{
    font-size:18px;
    line-height:18px;
    font-weight:700;
}


nav{
    display:flex;
    gap:28px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-size:13px;
    transition:.3s;
}

nav a:hover{
    color:#ff3d00;
}

.search{
    display:flex;
    align-items:center;
    background:#f2f2f2;
    border-radius:20px;
    overflow:hidden;
}

.search input{
    border:none;
    background:transparent;
    outline:none;
    padding:8px 12px;
    width:120px;
    font-size:12px;
}

.search button{
    border:none;
    background:transparent;
    cursor:pointer;
    padding:8px 12px;
    color:#777;
}


.hero{
    width:100%;
}

.hero img{
    width:100%;
    height:330px;
    object-fit:cover;
    display:block;
}


.content{
    background:white;
    padding:45px 40px 70px;
}

.small-dot{
    text-align:center;
    color:#777;
    font-size:22px;
    margin-bottom:35px;
}
.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px 55px;
    justify-items:center;
}


.card{
    text-align:center;
}

.card img{
    width:110px;
    height:110px;
    border-radius:12px;
    object-fit:cover;
    border:1px solid #d9d9d9;
    transition:.3s;
}

.card img:hover{
    transform:scale(1.05);
    box-shadow:0 5px 15px rgba(0,0,0,.25);
}

.card p{
    margin-top:12px;
    font-size:12px;
    color:#333;
}


@media(max-width:1000px){

    .cards{
        grid-template-columns:repeat(3,1fr);
    }

    nav{
        gap:16px;
    }

}

@media(max-width:750px){

    header{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:15px;
    }

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

    .hero img{
        height:230px;
    }

}

@media(max-width:500px){

    .container{
        width:95%;
    }

    .cards{
        grid-template-columns:1fr;
    }

    nav{
        flex-wrap:wrap;
        justify-content:center;
    }

    .search input{
        width:90px;
    }

}